* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    border: 3px solid rgb(255, 255, 255);
    outline: 2px solid black;
    gap: 2px;
    margin: 15px;
}

header {
    background-color: gray;
    grid-column: 1 / -1;
    border: 2px solid rgb(27, 27, 27);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
}

aside {
    background-color: bisque;
    grid-column: 1 / 2;
    border: 2px solid rgb(27, 27, 27);
    height: 200px;
}

.content {
    grid-column: 2 / -1;
    background-color: whitesmoke;
    border: 2px solid rgb(27, 27, 27);
}

footer {
    background-color: gray;
    grid-column: 1 / -1;
    border: 2px solid rgb(27, 27, 27);
    text-align: center;
}